<!doctype html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="css/error.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
          rel="stylesheet">
</head>
<body class="error-background">
<div class="error-wrapper">
    <div class="title">404</div>
    <div class="medium-text">PAGE NOT FOUND</div>
    <div class="small-text">The page you are looking for was moved, removed, renamed or might never existed.</div>
    <a class="button" href="/user_panel">Go to user panel</a>
</div>
</body>
</html>